$text-color: #011627;
$bg-color: #fdfffc;
$main-color: #0081af;
$main-light-color: #00abe7;
$sub-color: #827081;
// https://coolors.co/011627-fdfffc-827081-0081af-00abe7

:root {
  --gap: 1rem;
}

:focus {
  outline: none;
}

* {
  font-family: "Segoe UI", "Arial", "Yu Gothic", "Meiryo", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  color: $text-color;
}

body {
  background-color: #f2f0f2;
  display: grid;
  margin: var(--gap);
  column-gap: var(--gap);
  grid-template-columns: 25% 1fr;
}

h1 {
  grid-column: 1 / -1;
  margin-bottom: 0.8rem;
  font-size: 2rem;
  color: $main-color;
}

h2 {
  position: relative;
  color: $main-light-color;
  font-size: 1.5rem;
  margin-bottom: 0.5em;

  button {
    position: absolute;
    background-image: url(../../assets/img/icon/reload.svg);
    width: 18px;
    height: 18px;
    object-fit: cover;
    vertical-align: bottom;
    right: 0;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

dialog {
  margin: auto;
  padding: 1rem;
  padding-bottom: .5rem;
  background-color: $bg-color;
  border: none;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 3px 4px rgba($text-color, 0.2));
}

section {
  padding: 1rem;
  background-color: $bg-color;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 3px 4px rgba($text-color, 0.2));
}

#wrapper_add-form {
  align-self: start;
}

.button {
  padding: 0.5rem 1rem;
  background-color: $main-light-color;
  color: $bg-color;
  border-bottom: 3px solid $main-color;
  border-radius: 0.5rem;
}

.button:active {
  border-bottom: none;
  border-top: 3px solid $main-light-color;
  background-color: $main-color;
}

#add-form,
#update-form {
  margin: 1rem 0;
  display: grid;
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 18px calc(100% - 55px) 2rem;
  row-gap: 1rem;
  column-gap: 0.3rem;
  align-items: center;

  img {
    grid-column: 1;
  }

  &_title,
  &_deadline {
    grid-column: 1 / -1;
  }

  &_priority {
    padding: 0;
    grid-column: 2 / -1;
  }

  &_timescale {
    grid-column: 2;
  }

  input {
    box-sizing: border-box;
    border: none;
    border-radius: 1.3rem;
    padding: 0.3rem 1rem;
    filter: drop-shadow(0 0 4px rgba($sub-color, 0.2));
    transition: 0.3s;

    &:focus {
      filter: drop-shadow(0 0 4px rgba($sub-color, 0.4));
    }
  }
}

#update-form div {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;

  button:first-child {
    margin-right: .5rem;
  }
}

#tasklist {
  width: 100%;
  border-collapse: collapse;
}

.sortable-table {
  tr:nth-child(2n) {
    background-color: rgba($sub-color, 0.1);
  }
  thead {
    background-color: $main-light-color;
    th {
      padding: 0.5rem 0;
      vertical-align: middle !important;
      color: $bg-color;

      &.sortable {
        &[data-id="deadline"] {
          box-sizing: border-box;
          width: 109px;
        }

        &[data-id="priority"] {
          width: 70px;
        }

        &[data-id="timescale"] {
          width: 85px;
        }
      }
      &[data-id="_id"] {
        width: 24px;
      }
    }
  }

  tbody td {
    padding: 0.3rem 0;
    line-height: 1.3;
    &:first-child {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
    &:nth-child(3),
    &:nth-child(4) {
      padding-right: 17px;
      text-align: center;
    }

    &:nth-child(4)::after {
      content: " min";
    }

    &:nth-child(5) {
      text-align: center;
    }
  }
}
