:root {
  --gap: 1rem; }

:focus {
  outline: none; }

* {
  font-family: "Segoe UI", "Arial", "Yu Gothic", "Meiryo", "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  color: #011627; }

body {
  background-color: #f2f0f2;
  display: grid;
  margin: var(--gap);
  -moz-column-gap: var(--gap);
       column-gap: var(--gap);
  grid-template-columns: 25% 1fr; }

h1 {
  grid-column: 1 / -1;
  margin-bottom: 0.8rem;
  font-size: 2rem;
  color: #0081af; }

h2 {
  position: relative;
  color: #00abe7;
  font-size: 1.5rem;
  margin-bottom: 0.5em; }
  h2 button {
    position: absolute;
    background-image: url(../../assets/img/icon/reload.svg);
    width: 18px;
    height: 18px;
    -o-object-fit: cover;
       object-fit: cover;
    vertical-align: bottom;
    right: 0; }

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0; }

dialog {
  margin: auto;
  padding: 1rem;
  padding-bottom: .5rem;
  background-color: #fdfffc;
  border: none;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 3px 4px rgba(1, 22, 39, 0.2)); }

section {
  padding: 1rem;
  background-color: #fdfffc;
  border-radius: 0.5rem;
  filter: drop-shadow(0px 3px 4px rgba(1, 22, 39, 0.2)); }

#wrapper_add-form {
  align-self: start; }
  #wrapper_add-form .button {
    margin: auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    grid-column: 1 / -1; }

.button {
  padding: 0.5rem 1rem;
  color: #fdfffc;
  background-color: #00abe7;
  border-bottom: 3px solid #0081af;
  border-radius: 0.5rem; }
  .button:active {
    border-bottom: none;
    border-top: 3px solid #00abe7;
    background-color: #0081af; }
  .button--red {
    padding: 0.5rem 1rem;
    color: #fdfffc;
    background-color: #fc834c;
    border-bottom: 3px solid #c25928;
    border-radius: 0.5rem; }
    .button--red:active {
      border-bottom: none;
      border-top: 3px solid #fc834c;
      background-color: #c25928; }

#add-form,
#update-form {
  margin: 1rem 0;
  display: grid;
  grid-template-rows: repeat(4, -webkit-max-content);
  grid-template-rows: repeat(4, max-content);
  grid-template-columns: 18px calc(100% - 55px) 2rem;
  row-gap: 1rem;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
  align-items: center; }
  #add-form svg,
  #update-form svg {
    grid-column: 1;
    fill: #0081af; }
  #add-form_title, #add-form_deadline,
  #update-form_title,
  #update-form_deadline {
    grid-column: 1 / -1; }
  #add-form_priority,
  #update-form_priority {
    padding: 0;
    grid-column: 2 / -1; }
  #add-form_timescale,
  #update-form_timescale {
    grid-column: 2; }
  #add-form input,
  #update-form input {
    box-sizing: border-box;
    border: none;
    border-radius: 1.3rem;
    padding: 0.3rem 1rem;
    filter: drop-shadow(0 0 4px rgba(130, 112, 129, 0.2));
    transition: 0.3s; }
    #add-form input:focus,
    #update-form input:focus {
      filter: drop-shadow(0 0 4px rgba(130, 112, 129, 0.4)); }

#update-form div {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

#tasklist {
  width: 100%;
  border-collapse: collapse; }
  #tasklist svg {
    fill: #0081af; }

.sortable-table tr:nth-child(2n) {
  background-color: rgba(130, 112, 129, 0.1); }

.sortable-table thead {
  background-color: #00abe7; }
  .sortable-table thead th {
    padding: 0.5rem 0;
    vertical-align: middle !important;
    color: #fdfffc; }
    .sortable-table thead th.sortable[data-id="deadline"] {
      box-sizing: border-box;
      width: 109px; }
    .sortable-table thead th.sortable[data-id="priority"] {
      width: 70px; }
    .sortable-table thead th.sortable[data-id="timescale"] {
      width: 85px; }
    .sortable-table thead th[data-id="_id"] {
      width: 24px; }

.sortable-table tbody td {
  padding: 0.3rem 0;
  line-height: 1.3; }
  .sortable-table tbody td:first-child {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .sortable-table tbody td:nth-child(3), .sortable-table tbody td:nth-child(4) {
    padding-right: 17px;
    text-align: center; }
  .sortable-table tbody td:nth-child(4)::after {
    content: " min"; }
  .sortable-table tbody td:nth-child(5) {
    text-align: center; }
